<!-- ./views/show.handlebars -->
<div class="container py-5">
  <a href="https://c.pxhere.com/photos/01/c4/photo-504676.jpg!d"></a>
  <div class="text-center">
    <h1 class="mb-4">{{restaurant.name}}</h1>
    <h3>{{restaurant.name_en}}</h3>
    <img class="rounded mb-4" src="{{restaurant.image}}" alt="Card image cap" style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto" style="background-color: #ece4d3;">
      <div class="detail text-dark mx-3 my-5">
        <p style="font-size: 1.3em;">類別: {{restaurant.category}}</p>
        <p style="font-size: 1.3em;">評分: {{restaurant.rating}}</p>
        <p style="font-size: 1.3em;">地址: {{restaurant.location}}</p>
        <p style="font-size: 1.3em;">電話: {{restaurant.phone}}</p>
        <span style="font-size: 1.3em;">Google Map:</span>
        <a href="{{restaurant.google_map}}" style="word-wrap:break-word;" target="_blank">{{restaurant.google_map}}</a>
        <div class="restaurant-description mt-2">
          <span style="font-size: 1.5em;">特色</span>
          <div style="font-size: 1.2em;">{{restaurant.description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-group row">
    <div class="col d-flex justify-content-center mt-4">
      <a href="/restaurants/{{ restaurant._id }}/edit" class="btn btn-outline-success mr-2">修改資料</a>
      <a href="/" class="btn btn-outline-primary mr-2">返回前頁</a>
      <form action="/restaurants/{{ restaurant._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-outline-danger mr-2">刪除</button>
      </form>
    </div>
  </div>
</div>