<a href="./restaurants/new">新增餐廳</a>
<div class="row" id="data-panel">
  {{#each restaurants}}
  <div class="col-sm-3">
    <a href="restaurants/{{this._id}}">
      <div class="card">
        <img src="{{this.image}}" class="card-img-top" alt="restaurant_photo">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="englich-name">{{this.name_en}}</p>
    </a>
    <p class="card-text">{{this.category}}
    </p>
    <a href="./restaurants/{{ this._id }}" class="btn btn-primary">更多...</a>
    <a href="./restaurants/{{ this._id }}/edit" class="btn btn-primary">修改</a>
    <form action="./restaurants/{{ this._id }}/delete" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-primary">刪除</button>
    </form>
  </div>
</div>
</div>
{{/each}}
</div>